{% extends 'post/index.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block content %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h2>POSTS</h2>

		{% if post is defined %}
			<h2>{{ post.title }}
			</h2>
			<p>Author:
				{{ post.author }}</p>
			<p>{{ post.content }}</p>
		{% else %}
			<p>
				There is no post caralhoooo !!!
			</p>
		{% endif %}

	</div>

	{{ parent() }}
{% endblock %}
